.body-container {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 12px;
}

.body-sidebar {
    width: 300px;
}

.sidebar-title {
    text-align: center;
}

.sidebar-item {
    direction: rtl;
    width: 300px;
}

.content-block {
    direction: rtl;
    margin:0 auto;
    width: 1200px;
    word-wrap: break-word;
    background-color: beige;
}