.empty_10px {
  height: 10px
}

// Bulma doc: https://bulma.io/documentation/overview/customize/
// 1. Import the initial variables
@import "../../../nahj1/node_modules/bulma/sass/utilities/initial-variables";
@import "../../../nahj1/node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
$pink: #ffb3b3;

// 3. Set the derived variables
$primary: $pink;

// 4. Setup your Custom Colors

// 5. Add new color variables to the color map.

// 6. Import the rest of Bulma
@import "../../../nahj1/node_modules/bulma/bulma";
